/* Makes the page full screen and handles background */
.root {
  background-color: var(--body-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  transition: background-color 0.2s ease;
}

.root * {
  box-sizing: border-box;
}