/* Kills the default browser margins locally for the Home page */
:global(body) {
  margin: 0;
  padding: 0;
}

.root {
  --body-background: hsl(0, 0%, 11%);
  --sub-color: hsl(0, 0%, 21%);
  --opposite-color: white;
  --sub-opposite-color: rgb(204, 204, 204);


    display: flex;
    flex-direction: column;
    background-color: var(--body-background); 
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100vw;
}

.root * {
    box-sizing: border-box;
}

.header {
    padding: 20px;
    width: 100%;
    display: flex; /* Added so searchField aligns nicely inside header */
    justify-content: space-around;
}

.searchField {
    width: 35%;
    background-color: var(--sub-color);
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.searchInput {
    width: 85%;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--sub-color);
    border: none;
    outline: none;
    text-indent: 10px;
    margin: 0;
    color: var(--opposite-color);
}

.searchField button{
    color: var(--opposite-color);
    border: none;
    width: 15%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    background-color: rgb(41, 41, 41);
    font-size: 16px;
    margin: 0;
    transition: 0.25s all ease;
}

.searchField button:hover{
    color: var(--sub-opposite-color);
}

.searchField button

.searchIcon{
    font-size: 18px;
}

